# Angular
node_modules/
dist/
.angular/
package-lock.json

# IDE
.vscode/
.idea/
*.iml
*.ipr
*.iws

# OS
.DS_Store
*.swp

# Misc
*.log
*.class
*.pyc

# Environment
.env
.env.local
.env.*.local
backend-spring/.env
backend-spring/src/main/resources/.env
backend-spring/src/main/resources/.env.properties
